.profile__edit-button {
  background: transparent url(../../../images/edit-btn.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;
  width: 24px;
  height: 24px;
  border: 1px rgba(255, 255, 255, 1) solid;
  align-self: center;
  grid-area: edit-button;
}

@media screen and (max-width: 618px) {
  .profile__edit-button {
    transform: scale(0.75);
  }
}