.profile__add-button {
  cursor: pointer;
  height: 50px;
  color: white;
  border: 2px white solid;
  border-radius: 2px;
  background-color: black;
  background: transparent url(../../../images/plus-sign.svg) no-repeat center;
  width: 150px;
}

@media screen and (max-width: 768px) {
  .profile__add-button {
    width: 12%;
  }
}

@media screen and (max-width: 618px) {
  .profile__add-button {
    width: min(282px, 100%);
  }
}