.profile__add-button {
  cursor: pointer;
  height: 50px;
  color: rgba(255, 255, 255, 1);
  border: 2px rgba(255, 255, 255, 1) solid;
  border-radius: 2px;
  background: transparent url(../../../images/plus-sign.svg) no-repeat center;
  background-size: 22px 22px;
  width: 150px;
}

@media screen and (max-width: 690px) {
  .profile__add-button {
    align-self: flex-end;
  }
}

@media screen and (max-width: 618px) {
  .profile__add-button {
    width: min(282px, 100%);
    align-self: inherit;
  }
}