.element__like-button {
  background: transparent url('../../../images/like-btn.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-clip: content-box;
  width: 50px;
  height: 25px;
  cursor: pointer;
  border: none;
}