.edit-form__close-button {
  position: absolute;
  top: -24px;
  right: -24px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url(../../../images/close-sign.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px 32px;
  border: none;
  cursor: pointer;
}